# --- Poe andmed ---
POE_NIMI="Spetspood"
POE_SLOGAN="Töö- ja kaitsevahendid otse hulgilaost"
POE_EPOST="tellimused@spetspood.ee"
POE_TELEFON="+372 5555 1234"
POE_AADRESS="Tartu mnt 10, 10145 Tallinn"
POE_REGISTRIKOOD="12345678"
POE_KM_NUMBER="EE101234567"
PANGA_NIMI="LHV Pank"
PANGA_SAAJA="Spetspood OÜ"
PANGA_IBAN="EE12 2200 2210 1234 5678"

# --- Hinnastamine ---
# 1 PLN eurodes (uuenda vastavalt kursile)
PLN_EUR_KURSS=0.232
# Juurdehindlus netohinnale: 0.35 = +35%
JUURDEHINDLUS=0.35
# Eesti käibemaksumäär
KM_MAAR=0.24
# Ümardamine: sent | kumnesent | 95 | 99
HINNA_UMARDAMINE=95
# Tasuta tarne alates (sentides)
TASUTA_TARNE_ALATES_SENTI=7900
TOOTEID_LEHEL=24

# --- SPECHURT XML integratsioon ---
# Link saadakse B2B osakonnast, key on seotud registreeritud IP-aadressidega
SPECHURT_XML_URL="https://b2b.spechurt.pl/xml_plik_eksportu_export.php"
SPECHURT_KLIENDI_VOTI=""

# --- Andmebaas ---
ANDMEBAAS="data/pood.db"

# --- E-post (valikuline; seadistamata jätmisel kirjutatakse kiri logisse) ---
SMTP_HOST=""
SMTP_PORT=587
SMTP_TURVALINE=0
SMTP_KASUTAJA=""
SMTP_PAROOL=""
SMTP_SAATJA="Spetspood <tellimused@spetspood.ee>"

# --- Saidi avalik aadress (sitemap ja robots.txt jaoks) ---
SAIDI_URL="https://spetspood.ee"
